USE [College]
GO
/****** Object:  StoredProcedure [dbo].[usp_getstudentName]    Script Date: 28-01-2026 10:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[usp_getstudentName]
as
begin
select * from CollegeMaster where Name like 'a%'
end